.eWjCzc:hover:enabled, .eWjCzc:focus:enabled {
    background-color: hsl(11deg 100% 62%) !important;
}
.krmNah {
    background-color: hsl(11deg 100% 62%) !important;
    box-shadow: hsl(11deg 100% 62%) !important;
 
}