.eWjCzc:hover:enabled, .eWjCzc:focus:enabled {
    background-color: hsl(11deg 100% 62%) !important;
}
.krmNah {
    background-color: hsl(11deg 100% 62%) !important;
    box-shadow: hsl(11deg 100% 62%) !important;
 
}
.review{
    padding: 100px 0;
    position: absolute;
    background-color: black;
    z-index: -10;
}
.review h3{
    color: #fa5f0b;
    font-weight: 500;
    font-size: 17px;
    margin-bottom: 8px;
    text-align: center;
}
.review h2{
    font-weight: 600;
    font-size: 38px;
    text-transform: capitalize;
    margin-bottom: 5%;
}
.review-style{
    background-color: white;
    color: black;
    padding: 10px 5px;
    width: 100%;
    text-align: center;

}